* {
    font-family: monospace;
}

.header {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card {
    display: flex;
    height: 300px;
    width: 600px;
    margin: 5% auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(243, 243, 243, 0.356);
    border-radius: 18px;
    box-shadow: 0px 0px 8px 0px rgb(209, 209, 209);
}

h2 {
font-size: 24px;
}


.quizQuestion {
    border: 2px solid green;
    width: 80%;
    padding-top: 25px;
}

.possibleAnswers {
    display: flex;
    width: 60%;
    flex-direction: column;

}

.answerBtn {
    margin: 3px;
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    padding:5px;
    border-radius: 18px ;
    text-align: left;
    padding-left: 10px;
}

.answerBtn:hover {
    transform: scale(.99);
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

.start-button {
    border: 2px solid black;
    background-color: white;    
    border-radius: 8px;
    padding: 5px 20px;
}

.start-button:hover {
    background-color: black;
    color: white;
}
